.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    color: white;
    padding: 20px 0;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

.header p {
    margin: 0;
    font-size: 1.2em;
    padding-right: 20px;
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-end {
    display: flex;
    justify-content: flex-end;
}