.foto-perfil,
.foto-generica {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
}

.colorLabelPhoto {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2em;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease;
}

.colorLabelPhoto:hover {
  background-color: #e04c4c;
}

input[type="file"] {
  display: none; 
}

.form-control {
  border-radius: 0.5em;
}

