/* HomeAdmin.css */

/* Estilos de las imágenes de perfil */
.foto-perfil,
.foto-generica {
  width: 12em; /* Tamaño uniforme */
  height: 12em; /* Tamaño uniforme */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  border-radius: 50%; /* Imagen circular */
}

/* Estilo de etiquetas y textos */
.colorLabelPhoto {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2em; /* Bordes redondeados */
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.colorLabelPhoto:hover {
  background-color: #e04c4c; /* Color en hover */
}

/* Esto oculta el input de tipo file */
input[type="file"] {
  display: none; 
}

/* Estilos para formularios */
.form-control {
  border-radius: 0.5em; /* Bordes redondeados */
}

/* Estilos para centrar el mensaje y título en la página */
.perfil-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.centered-message {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 20px;
  text-align: center; /* Centra el texto */
}

.message-content {
  max-width: 800px; /* Opcional: límite en el tamaño del contenedor */
}

.message-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-content p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.message-content a {
  color: #007bff;
  text-decoration: none;
}

.message-content a:hover {
  text-decoration: underline;
}
