.foto-perfil,
.foto-generica {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
}

.colorLabelPhoto {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2em;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease;
}

.colorLabelPhoto:hover {
  background-color: #e04c4c;
}

input[type="file"] {
  display: none; 
}

.form-control {
  border-radius: 0.5em;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  text-align: center;
}

.message-content {
  max-width: 800px;
}

.message-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-content p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.message-content a {
  color: #007bff;
  text-decoration: none;
}

.message-content a:hover {
  text-decoration: underline;
}
