.buttonStyle {
    background-color: brown;
    color: white;
    border: 3px solid lightgrey;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}

.aboutSectionStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.textStyle {
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    max-width: 800px;
    margin: 0 auto;
}

.image-container {
    position: relative;
    width: 600px; /* Ajusta el ancho según sea necesario */
    margin: 20px auto;
}

.blurred-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

/* Capa de pseudo-elemento para crear el efecto de difuminado de bordes */
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 15%, /* Centro claro */
        rgba(255, 255, 255, 0) 35%, /* Centro claro */
        rgba(255, 255, 255, 0.2) 50%, /* Empieza el difuminado ligero */
        rgba(255, 255, 255, 0.5) 70%, /* Aumenta gradualmente el difuminado */
        rgba(255, 255, 255, 0.8) 85%, /* Difuminado intenso */
        rgba(255, 255, 255, 1) 100% /* Totalmente difuminado en los bordes */
    );
    pointer-events: none; /* Permite que la imagen sea interactiva */
}